@import '../../assets/styles/reset.scss';

.container-form {
  @include flexbox($flex-direction: column);
  margin: auto;

  .title-contact {
    padding: 2rem 0;
    text-align: center;
  }

  form {
    @include flexbox($flex-direction: column);
    gap: 1.5rem;
    width: 400px;
    padding: 1rem;

    input.input-name,
    input.input-email,
    input.input-topic {
      width: 350px;
      height: 40px;
      padding-left: 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid var(--primary-color);
      background-color: transparent;

      &:focus {
        border-color: var(--secondary-color);
      }
    }

    textarea.input-textarea {
      width: 350px;
      height: 200px;
      resize: none;
      outline: none;
      border: 1px solid var(--primary-color);
      background-color: transparent;
      padding: 0.5rem;

      &:focus {
        border-color: var(--secondary-color);
      }
    }

    .btn-form {
      @include flexbox($justify-content: space-around);
      width: 100%;
    }

    input.btn-submit,
    input.btn-reset {
      height: 40px;
      width: 150px;
      background-color: var(--third-color);
      outline: none;
      border: none;
      color: white;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: var(--secondary-color);
      }
    }
  }
}
