.list-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 4rem;
  border: 1px solid red;
}

.list-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;

  .item-img {
    margin-bottom: 1rem;

    img {
      width: 350px;
    }
  }
}
