.search-container {
  display: flex;
  gap: 0.2rem;

  .box-search {
    background-color: white;
    display: flex;
    align-items: center;

    .search-input {
      width: 500px;
      height: 50px;
      border: none;
      outline: none;
      padding-left: 1rem;

      @media (max-width: 785px) {
        max-width: 400px;
      }
      @media (max-width: 560px) {
        max-width: 300px;
      }

      @media (min-width: 300px) and (max-width: 560px) {
        max-width: 250px;
      }
    }

    .search-btn {
      border: none;
      outline: none;
      font-size: 1.5rem;
      padding-right: 10px;
      background-color: transparent;
      opacity: 0.6;

      display: flex;
      align-items: center;

      &:active {
        color: var(--third-color);
      }
    }
  }
}
