@import '../../assets/styles/reset.scss';

.modal-overlay {
  @include flexbox;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);

  .modal {
    background-color: var(--background-color);
    color: #000;
    width: 50%;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
      width: 90%;
    }

    .modal-content {
      @include flexbox($flex-direction: column);
      align-items: center;
      margin: 10px;
      height: 100%;

      .close-modal {
        @include flexbox;
        font-size: 2rem;
        color: var(--primary-color);
        cursor: pointer;
        transition: all 0.2s ease-out;
        align-self: flex-end;

        &:hover,
        &:active {
          color: var(--secondary-color);
        }
      }

      .img-modal {
        max-width: 100%;
      }

      .info-modal {
        @include flexbox($flex-direction: column);
        padding: 0 20px;

        .photographer {
          font-weight: bold;
          font-size: 2rem;
          padding: 0.3rem;
          color: var(--primary-color);
          cursor: pointer;
        }

        .size-img {
          @include flexbox;
          gap: 1rem;
          flex-wrap: wrap;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
