.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background-color: var(--background-color);
    color: #000;
    width: 50%;
    border-radius: 10px;

    .modal-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px;
      height: 100%;

      .img-modal {
        max-width: 100%;
      }

      .info-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;

        .photographer {
          font-weight: bold;
          font-size: 2rem;
          padding: 1rem;
        }

        .size-img {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}
