.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .logo {
    color: blue;
    cursor: pointer;
  }

  .link {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
