@import '../../assets/styles/reset.scss';

.footer {
  @include flexbox($flex-direction: column);
  width: 100%;
  height: 50px;
  text-align: center;
  color: var(--primary-color);
  margin-top: 25px;
  margin-bottom: 2rem;

  .footer-credits,
  .footer-developer {
    cursor: pointer;
  }

  a {
    font-weight: 700;
  }
}
