@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #393e46;
  --secondary-color: #e84545;
  --third-color: #f67280;
  --background-color: #fefbf3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body,
html {
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  transition: all 0.2s ease-out;

  &:hover,
  &:active {
    color: var(--secondary-color);
  }
}

@mixin flexbox(
  $display: flex,
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}
